* {
  box-sizing: border-box;
  color: #333;
}
html {
  font-size: 62.5%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  width: 100vw;
  height: 100vh;
}

ul,
li,
a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
}

.app-container {
  text-align: center;
  background: #f7e3ab;
  font-family: "Trebuchet MS", sans-serif;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 50vh 50vh;
}

ul {
  margin: 1vw 10vw;
  display: grid;
  grid-template-columns: repeat(5, 16vw);
}
li:nth-child(1) {
  grid-column: 1;
}
li {
  color: #fff;
  font-size: 2rem;
  text-shadow: 1px 1px 0.1px rgba(255, 255, 255, 0.2);
  letter-spacing: 2px;
}
nav {
  margin: 0;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(4, 1fr);
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  background: rgba(6, 105, 59, 0.5);
}
img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 50vh;
  width: 100vw;
}
article {
  grid-row: 2;
  overflow: hidden;
}
h1 {
  color: rgb(126, 113, 240);
  font-size: 3.3rem;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.9);
}
p {
  font-size: 1.8rem;
  margin: 2vh 10vw;
  line-height: 2.7rem;
  color: rgb(105, 105, 105);
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
}
